<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wu Tang</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Wu Tang Killa Bee's</h1>
  </header>

  <form action="/wu" method="POST">
    <input id="firstName" placeholder="first name" type="text" name="name" value="">
    <input id="hood" placeholder="ya hood" type="text" name="hood" value="">
    <input id="wuSong" placeholder="fave wu song" type="text" name="song" value="">
    <input id="age" placeholder="age" type="text" name=age"" value="">
    <input id="height" placeholder="height" type="text" name="height" value="">
    <button id="press" type="submit" name="button">WUTANG   </button>
  </form>
      <% for(var i=0; i<wu.length; i++) {%>
      <h2 id="generated"><%= wu[i].fortune %></h2>
      <% } %>
  

<footer><span>Remember folks..Wu Tang is for the children</span></footer>

  <script src="main.js"></script>

</body>
</html>
